{% set headerimage = page.media.images | first %}
{% set images = page.media.images | slice(1,2) %}

<section>
  <div class="section-wrapper section-light">
    <div class="section-top">
      <div class="section-top-wrapper left" data-aos="fade-right">
          {{ headerimage.html('','', 'section-img img-light') }}
      </div>
    </div>

    <div class="section-bottom">
      <div class="section-bottom-wrapper right" data-aos="fade-left">
        {{ content }}
        {% for image in images %}
            {{ image.html('','', 'about-school img-dark') }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
