{% set headerimage = page.media.images | last %}
{% set images = page.media.images | slice(start,length) %}

<section>
  <div class="section-wrapper section-light">
    <div data-aos="fade-right">
      <div class="section-top-wrapper">
          {{ headerimage.html('','', 'section-img img-light') }}
      </div>
    </div>

    <div class="section-bottom" data-aos="fade-left">
      <div class="section-bottom-wrapper">
        {{ content }}
      </div>
    </div>
  </div>
</section>
