{% set headerimage = page.media.images | last %}
{% set images = page.media.images | slice(start,length) %}

<section>
  <div class="section-wrapper section-dark">
    <h1 data-aos="fade-up">contact</h1>
    <br>
    <div class="section-top" data-aos="fade-left">
      <div class="section-top-wrapper right">
          {{ headerimage.html('','', 'section-img img-dark') }}
      </div>
    </div>

    <div class="section-bottom" data-aos="fade-right">
      <div class="section-bottom-wrapper left">
        {{ content }}
      </div>
    </div>
  </div>
</section>
